@import "@/theme/main.scss";

.container {
  max-width: $medium-max-width;
  border-radius: 8px;
  margin: 25px 0px;
  padding: 25px 15px;
  border: 1px solid rgb(231, 231, 231);
  max-height: 80vh;
  overflow: hidden;
  overflow: auto;
  position: sticky;
  top: 20px;

  h1 {
    text-align: left;
    padding-bottom: 25px;
    font-size: $large-text;
    text-align: center;
  }

  h3,
  p {
    padding: 5px;
    width: 100%;
  }
}
