@import "@/theme/main.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(26, 26, 26, 0.16) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgb(231, 231, 231);
  max-width: 300px;
  width: 100%;

  &:hover {
    background-color: lighten($color-primary, 65%);
  }
}

.location {
  display: flex;
  flex-direction: column;
}

.cityName {
  text-decoration: none;
  font-size: $medium-text;
  font-weight: 700;

  &:hover {
    color: $color-secondary;
  }
}

.active {
  background-color: lighten($color-primary, 65%);
}
