@import "@/theme/main.scss";

.header {
  background-color: $color-primary;
  width: 100%;
}

.container {
  text-align: center;
  line-height: 150px;
  max-width: $large-max-width;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: $text-light;
    text-decoration: none;
    &:hover {
      color: $color-secondary;
    }
  }
}

.title {
  text-decoration: none;
  font-size: 52px;

  &:hover {
    color: $color-secondary;
  }
}

.link {
  font-size: $medium-text;
}
