@import "../../theme/main.scss";

.container * {
  height: 125px;
  background-color: $color-primary;
  color: $text-light;
}

.titleContainer {
  max-width: 1075px;
  width: 100%;
  padding: 32px 32px 0px 32px;
  margin: auto;
}
