@import "../../theme/main.scss";

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  background-color: $contrast-background;
  padding: 64px 32px;
}

.searchSection {
  max-width: $medium-max-width;
  width: 100%;
  margin: auto;

  h1 {
    color: $text-dark;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  h2 {
    color: lighten($text-dark, 15%);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
  }
}

.listSection {
  max-width: $large-max-width;
  width: 100%;
  margin: auto;
  padding: 0px 32px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 32px 0px 16px 0px;
  }
}
