@import "@/theme/main.scss";

.searchContainer {
  background-color: $contrast-background;
  padding: 64px 32px;
}

.searchSection {
  max-width: $medium-max-width;
  width: 100%;
  margin: auto;

  h1 {
    color: $text-dark;
    font-size: $large-text;
    font-weight: 800;
    margin-bottom: 8px;
  }

  h2 {
    color: lighten($text-dark, 15%);
    font-size: $medium-text;
    font-weight: 400;
    margin-bottom: 32px;
  }
}

.listSection {
  max-width: $large-max-width;
  width: 100%;
  margin: auto;

  h1 {
    font-size: $large-text;
    font-weight: 700;
    padding: 32px 0px 16px 0px;
    text-align: center;
  }
}
