@import "../../theme/main.scss";

footer {
  background-color: $contrast-background;
  margin-top: auto;
  height: 100px;
  padding-top: 24px;
}

.container {
  max-width: 1075px;
  width: 100%;
  margin: auto;
  padding: 0px 32px;
}
