@import "@/theme/main.scss";

footer {
  background-color: $contrast-background;
  margin-top: auto;
  padding: 32px;
  font-size: $medium-text;
}

.container {
  max-width: $large-max-width;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  article {
    padding: 10px;
  }

  img {
    height: 32px;
    margin: 0px 10px;
  }
}
