@import "@/theme/main.scss";

.container {
  color: $color-primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin: 12px auto 32px auto;
  max-width: $large-max-width;
}

.messageParagraph {
  text-align: center;
  line-height: 50px;
  font-size: $medium-text;
  color: lighten($text-dark, 15%);
}
